body,
header,
main,
footer,
nav,
ul,
li,
a,
div,
img,
form,
input,
button {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: arial, sans-serif;
}

header {
	/* border: 1px solid red; */
}

nav {
	/* border: 1px solid green; */
}

nav ul {
	/* border: 1px solid blue; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0.8rem 0;
	padding: 0 1.3rem;
}

nav ul li {
	/* border: 1px dashed coral; */
	display: inline;
	margin: 0 0.6rem;
	font-size: 0.8rem;
}

a {
	all: unset;
}

a:hover {
	text-decoration: underline;
}

nav img {
	width: 1rem;
}

nav button {
	background-color: #4586f5;
	color: white;
	border-radius: 5%;
	width: 70px;
	font-weight: bold;
	height: 30px;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	position: absolute;
	width: 50%;
	height: 40%;
	left: 25%;
	top: 25%;
	border: 1px solid pink;
}

#logoDiv {
	border: 1px solid green;
	/* width: 100%;
	height: 40%; */
}

#logoDiv img {
	border: 1px solid blue;
}

form {
	border: 1px solid grey;
	height: 50%;
	width: 100%;
}

#inputDiv {
	display: flex;
	align-items: center;
	border: 1px solid lightgray;
	border-radius: 50px;
	height: 3rem;
	width: 90%;
	margin: 1rem;
}

#magIco {
	border: 1px solid red;
	height: auto;
	width: 5%;
	margin: 2%;
}

input {
	border: 1px solid yellow;
	height: 60%;
	width: 80%;
}

#voiceIcoDiv {
	border: 1px solid green;
	width: 4.3%;
	margin: 0 1.4rem;
}

#voiceIco {
	border: 1px solid red;
	max-width: 100%;
}

main button {
	border: 1px dashed turquoise;
}

footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 6.5vh;
	border: 1px solid #e1e1e1;
	background-color: #f2f2f2;
}

footer ul {
	margin: 0 1rem;
}

footer ul li {
	text-align: center;
	display: inline;
	margin: 0 0.7rem;
	font-size: 0.89rem;
	color: #5f6368;
}
