body,
header,
main,
footer,
nav,
ul,
li,
a,
div,
img,
form,
input,
button {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	color: inherit;
	font-family: arial, sans-serif;
	outline: none;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0.8rem 0;
	padding: 0 1.3rem;
}

nav ul li {
	display: inline;
	margin: 0 0.6rem;
	font-size: 0.8rem;
}

footer a:hover,
nav ul li:nth-child(-n + 2):hover {
	text-decoration: underline;
}

nav img {
	width: 1rem;
}

nav button {
	background-color: #4586f5;
	color: white;
	border-radius: 5%;
	width: 70px;
	font-weight: bold;
	height: 30px;
}

main {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	position: absolute;
	width: 50%;
	height: 40%;
	left: 25%;
	top: 25%;
}

form {
	height: 50%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

#inputDiv {
	display: flex;
	align-items: center;
	border: 1px solid lightgray;
	border-radius: 50px;
	height: 3rem;
	width: 90%;
	margin: 1rem;
}

#inputDiv:hover {
	border: 1px solid transparent;
	box-shadow: 0 1px 5px rgba(124, 124, 124, 0.699);
}

input[type="search"] {
	font-size: 1rem;
	color: #212121;
}

#magIco {
	height: auto;
	width: 5%;
	margin: 2%;
}

input {
	height: 60%;
	width: 80%;
}

#voiceIcoDiv {
	width: 4.3%;
	margin: 0 1.4rem;
}

main button {
	border: 1px dashed transparent;
	border-radius: 5px;
	background-color: #f2f2f2;
	margin: 0 0.5rem;
	padding: 0.6rem 0.9rem;
	color: #5f6368;
	font-size: 0.9rem;
}

button:hover {
	box-shadow: 0 1px rgb(80, 80, 80, 0.2);
}

main button:hover {
	border: 1px solid #c7c7c7;
	color: black;
}

footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 6.5vh;
	border: 1px solid #e1e1e1;
	background-color: #f2f2f2;
}

footer ul {
	margin: 0 1rem;
}

footer ul li {
	text-align: center;
	display: inline;
	margin: 0 0.7rem;
	font-size: 0.89rem;
	color: #5f6368;
}
